@model CarStore.Models.CarModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
    <link type="text/css" rel="stylesheet" href="../../Content/ViewsCSS/CarModelDetails.css" />
    <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Barlow+Condensed:400,700|Open+Sans:400,700|Oswald:400,700&display=swap&subset=cyrillic-ext" rel="stylesheet">
</head>

@if (Model.Id == 1)
{
    <body>

        <h1>Details</h1>
        <div>
            <hr />
            <h2>@Model.Name</h2>

            <span>
                Start price from $14 200
                <br />
            </span>

            <img src="~/App_Images/renault-megane-view.jpg" alt="Megan view" />

        </div>
        <hr />
        <div>
            <h2>Interior design</h2>
            <img src="~/App_Images/renault-megane-inside-1.jpg" alt="Megane inside 1" />
            <hr />
            <span>
                Appreciate its impeccable finish
                <br>
                Digital speedometer, ergonomic center console, large 8.7-inch comfortable vertical touch screen * and more. In the interior of the new Renault MEGANE Sedan you are at the center of the event.
                <br>
                * Depending on version
                <br>
            </span>
            <hr />
            <img src="~/App_Images/renault-megane-inside-2.jpg" alt="Megane inside 2" />
        </div>

        <p>
            <a class="back-link" href="/CarModel/Index/1">Back to list</a>
        </p>
    </body>

}

@if (Model.Id == 2)
{
<body>
    <h1>Details</h1>
    <div>
        <hr />
        <h2>@Model.Name</h2>

        <span>
            Start price from $12 400
            <br />
        </span>

        <img src="~/App_Images/renault-duster-view.jpg" alt="Duster view" />

    </div>
    <hr />
    <div>
        <h2>Interior design</h2>
        <img src="~/App_Images/renault-duster-inside-2.jpg" alt="Duster inside 1" />
        <hr />
        <span>
            The dynamic design of the all-new Duster will simply astound you.
            <br>
            All this thanks to a completely updated body, stylish rails and a grille.
            <br>
        </span>
        <hr />
        <img src="~/App_Images/renault-duster-inside-1.jpg" alt="Duster inside 2" />
    </div>

    <p>
        <a class="back-link" href="/CarModel/Index/1">Back to list</a>
    </p>
</body>
}

@if (Model.Id == 3)
{
    <body>

        <h1>Details</h1>

        <div>
            <hr />
            <h2>@Model.Name</h2>
        </div>
        <p>
            <a class="back-link" href="/CarModel/Index/2">Back to list</a>
        </p>
    </body>
}

@if (Model.Id == 4)
{
    <body>

        <h1>Details</h1>

        <div>
            <hr />
            <h2>@Model.Name</h2>
        </div>
        <p>
            <a class="back-link" href="/CarModel/Index/2">Back to list</a>
        </p>
    </body>
}