@model CarStore.Models.Config

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <head>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        <meta name="viewport" content="width=device-width" />
        <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
        <link type="text/css" rel="stylesheet" href="../../Content/ViewsCSS/ConfigDetails.css" />
        <link href="https://fonts.googleapis.com/css?family=Baloo+Chettan+2|Barlow+Condensed:400,700|Open+Sans:400,700|Oswald:400,700&display=swap&subset=cyrillic-ext" rel="stylesheet">
    </head>

    <body>


        <h1>Details</h1>

        <div>
            <h2>@Model.Name</h2>
            <hr />
            @if (Model.Id == 1)
            {
                <img class="img-cfg-det-renault" src="~/App_Images/renault-megane-cfg-life.jpg" alt="config megane life img" />
            }
            @if (Model.Id == 3)
            {
                <img class="img-cfg-det-renault" src="~/App_Images/renault-megane-cfg-zen.jpg" alt="config megane zen img" />
            }
            @if (Model.Id == 4)
            {
                <img class="img-cfg-det-renault" src="~/App_Images/renault-megane-cfg-intense.jpg" alt="config megane intanse img" />
            }
            @if (Model.Id == 5)
            {
                <img class="img-cfg-det-renault" src="~/App_Images/renault-duster-cfg-life.jpg" alt="config duster life img" />
            }
            @if (Model.Id == 6)
            {
                <img class="img-cfg-det-renault" src="~/App_Images/renault-duster-cfg-zen.jpg" alt="config duster zen img" />
            }
            @if (Model.Id == 7)
            {
                <img class="img-cfg-det-renault" src="~/App_Images/renault-duster-cfg-intense.jpg" alt="config duster intanse img" />
            }
            @if (Model.Id == 8)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-A-7-cfg-base.png" alt="config a7 base img" />
            }
            @if (Model.Id == 9)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-Q-7-cfg-base.png" alt="config q7 base img" />
            }
            @if (Model.Id == 10)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-A-7-cfg-comfort.png" alt="config a7 comfort img" />
            }
            @if (Model.Id == 12)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-Q-7-cfg-comfort.png" alt="config q7 comfort img" />
            }
            @if (Model.Id == 13)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-A-7-cfg-premium.png" alt="config a7 premium img" />
            }
            @if (Model.Id == 14)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-Q-7-cfg-premium.png" alt="config q7 premium img" />
            }
            @if (Model.Id == 15)
            {
                <img class="img-cfg-det-renault" src="~/App_Images/renault-logan-cfg-life.jpg" alt="config logan life img" />
            }
            @if (Model.Id == 16)
            {
                <img class="img-cfg-det-renault" src="~/App_Images/renault-logan-cfg-life-pl.jpg" alt="config logan life+ img" />
            }
            @if (Model.Id == 17)
            {
                <img class="img-cfg-det-renault" src="~/App_Images/renault-logan-cfg-zen.jpg" alt="config logan zen img" />
            }
            @if (Model.Id == 18)
            {
                <img class="img-cfg-det-renault" src="~/App_Images/renault-kadjar-cfg-life.jpg" alt="config kadjar life img" />
            }
            @if (Model.Id == 19)
            {
                <img class="img-cfg-det-renault" src="~/App_Images/renault-kadjar-cfg-zen.jpg" alt="config kadgar zen img" />
            }
            @if (Model.Id == 20)
            {
                <img class="img-cfg-det-renault" src="~/App_Images/renault-kadjar-cfg-intense.jpg" alt="config kadjar intense img" />
            }
            @if (Model.Id == 21)
            {
                <img class="img-cfg-det-renault-koleos" src="~/App_Images/renault-koleos-cfg-life.jpg" alt="config koleos life img" />
            }
            @if (Model.Id == 22)
            {
                <img class="img-cfg-det-renault-koleos" src="~/App_Images/renault-koleos-cfg-zen.jpg" alt="config koleos zen img" />
            }
            @if (Model.Id == 23)
            {
                <img class="img-cfg-det-renault-koleos" src="~/App_Images/renault-koleos-cfg-intense.jpg" alt="config koleos intense img" />
            }
            @if (Model.Id == 25)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-A-8-cfg-base.png" alt="config a8 base img" />
            }
            @if (Model.Id == 26)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-A-8-cfg-comfort.png" alt="config a8 comfort img" />
            }
            @if (Model.Id == 27)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-A-8-cfg-premium.png" alt="config a8 premium img" />
            }
            @if (Model.Id == 28)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-A-6-cfg-base.png" alt="config a6 base img" />
            }
            @if (Model.Id == 29)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-A-6-cfg-comfort.png" alt="config a6 comfort img" />
            }
            @if (Model.Id == 30)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-A-6-cfg-premium.png" alt="config a6 premium img" />
            }
            @if (Model.Id == 31)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-Q-8-cfg-base.png" alt="config q8 base img" />
            }
            @if (Model.Id == 32)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-Q-8-cfg-comfort.png" alt="config q8 comfort img" />
            }
            @if (Model.Id == 33)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-Q-8-cfg-premium.png" alt="config q8 premiumimg" />
            }
            @if (Model.Id == 35)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-Q-5-cfg-base.png" alt="config q5 base img" />
            }
            @if (Model.Id == 36)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-Q-5-cfg-comfort.png" alt="config q5 comfort img" />
            }
            @if (Model.Id == 37)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-Q-5-cfg-premium.png" alt="config q5 premiumimg" />
            }
            @if (Model.Id == 40)
            {
                <img class="img-cfg-det-renault" src="~/App_Images/renault-loganmcv-cfg-base.jpg" alt="config loganmcv base img" />
            }
            @if (Model.Id == 41)
            {
                <img class="img-cfg-det-renault" src="~/App_Images/renault-loganmcv-cfg-zen.jpg" alt="config loganmcv zen img" />
            }
            @if (Model.Id == 42)
            {
                <img class="img-cfg-det-renault" src="~/App_Images/renault-loganmcv-cfg-stepwat-zen.jpg" alt="config loganmcv stepway zen img" />
            }
            @if (Model.Id == 43)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-Q-3-cfg-base.png" alt="config q3 base img" />
            }
            @if (Model.Id == 44)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-Q-3-cfg-comfort.png" alt="config q3 comfort img" />
            }
            @if (Model.Id == 45)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-Q-3-cfg-premium.png" alt="config q3 premium img" />
            }
            @if (Model.Id == 46)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-Q-2-cfg-base.png" alt="config q2 base img" />
            }
            @if (Model.Id == 47)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-Q-2-cfg-comfort.png" alt="config q2 comfort img" />
            }
            @if (Model.Id == 48)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-Q-2-cfg-premium.png" alt="config q2 premium img" />
            }
            @if (Model.Id == 49)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-A-4-cfg-base.png" alt="config a4 base img" />
            }
            @if (Model.Id == 50)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-A-4-cfg-comfort.png" alt="config a4 comfort img" />
            }
            @if (Model.Id == 51)
            {
                <img class="img-cfg-det-audi" src="~/App_Images/audi-A-4-cfg-premium.png" alt="config a4 premium img" />
            }

            <dl>
                <dt>
                    @Html.DisplayNameFor(model => model.Name):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <br>
                <dt>
                    @Html.DisplayNameFor(model => model.Transmission):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Transmission)
                </dd>
                <br>
                <dt>
                    @Html.DisplayNameFor(model => model.EngineType):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EngineType)
                </dd>
                <br>
                <dt>
                    @Html.DisplayNameFor(model => model.EngineVolume):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EngineVolume)
                </dd>
                <br>
                <dt>
                    @Html.DisplayNameFor(model => model.WheelSize):
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.WheelSize)
                </dd>

            </dl>
        </div>
        <p>
            <a class="back-link" href="/CarModel/Details/@Model.CarModelId"> < Back to model</a>
        </p>
    </body>